* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: image repeat position/size*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*IMPORTANTE: display: none => o objeto some da tela; 
              display: block => vai dar toda a largura possível de tela;
              display: inline => ocupa a linha inteira, por isso não consigo aplicar margin: auto para centralizar se o objeto estiver "inline";
            */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* O display: flex vai fazer com que todos os elementos dentro da caixa
  "ul" fiquem um ao lado do outro, de uma maneira flexível   
*/

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}
/* pseudo-select ou sudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white;
}
/* social links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
